body{
font-family:Arial;
margin:0;
background:linear-gradient(120deg,#f6d365,#fda085);
}

header{
background:#222;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:100px;
background:linear-gradient(90deg,#667eea,#764ba2);
color:white;
}

button{
padding:12px 25px;
background:#ff4757;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}

section{
padding:50px;
text-align:center;
}

.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.gallery img{
width:250px;
height:180px;
object-fit:cover;
border-radius:10px;
cursor:grab;
transition:0.3s;
}

.gallery img:hover{
transform:scale(1.1);
}

form input,select{
padding:10px;
margin:10px;
width:200px;
}

.review{
background:white;
padding:20px;
margin:20px auto;
width:300px;
border-radius:10px;
}

.team-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.team-card{
background:white;
padding:20px;
border-radius:10px;
width:220px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
}